<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Re-Set Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body>
<div class="container">
  <h2>Password Reset Form</h2>
  <div id="reset-result"></div>
  <form id="reset-form">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="tel" class="form-control" id="phone" placeholder="Enter phone">
    </div>
    <div class="form-group">
      <label for="secret">Secret Code:</label>
      <input type="text" class="form-control" id="secret_code" placeholder="Enter secret code">
    </div>
    <div class="form-group">
      <label for="new-password">New Password:</label>
      <input type="password" class="form-control" id="new-password" placeholder="Enter new password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    $('#reset-form').submit(function (e) {
      e.preventDefault();
      var email = $('#email').val();
      var mobile = $('#mobile').val();
      var secret_code = $('#secret_code').val();
      var password = $('#password').val();
      $.ajax({
        type: 'POST',
        url: '/reset_password_student',
        data: {
          'email': email,
          'mobile': mobile,
          'secret_code': secret_code,
          'password': password
        },
        success: function (data) {
          if (data.result === 'success') {
            $('#reset-result').html('<div class="alert alert-success">Password reset successfully</div>');
            setTimeout(function () {
            window.location.href = '/login';
          }, 5000);
          } else {
            $('#reset-result').html('<div class="alert alert-danger">Password reset failed</div>');
          }
        }
      });
    });
  });
</script>
</html>